
<table style="height:100%;width:100%;" cellpadding="0" cellspacing="0">
<tr>
	<td style="height:10px;" valign="top">
<div class="topbar">
	<ul class="l h">
		{*ToDo: Eigenes recht vergeben*}
		{*if 'get_article'|in_array:$D.CLASS[$PLA.CLASS_ID].FUNCTION && $D.SESSION.USER.ACCOUNT.D[$D.SESSION.ACCOUNT_ID].PLATFORM.D[$D['PLATFORM_ID']].RIGHT.D['WP00002'].ACTIVE*}
		
		<li><div>Account: {$D.SESSION.ACCOUNT_ID}</div>
		</li>
		<li><div>Platform</div>
			<ul>
				{foreach from=$D.ACCOUNT.D[$D.SESSION.ACCOUNT_ID].PLATFORM.D key="kPL" item="PL"}
					{if $PL.ACTIVE}
						<li style="list-style:inside; list-style-image: url(core/platform/{$PL.CLASS_ID}/{$D.CLASS[$PL.CLASS_ID].ICON});width:180px;"><button type="button" style="width:150px;" onclick="wp.ajax({ 'url' : '?D[PAGE]=platform&D[PLATFORM_ID]={$kPL}','div' : 'frame_body'});">{$PL.TITLE}</button></li>
					{/if}
				{/foreach}
			</ul>
		</li>
		{*
		<li><div>Lager</div>
			<ul>
				{foreach from=$D.WAREHOUSE.D key="kWAR" item="WAR"}
					{if $WAR.ACTIVE}
						<li><button type="button" onclick="wp.ajax({ 'url' : '?D[PAGE]=warehouse.index&D[WAREHOUSE][W][ID]={$kWAR}','div' : 'frame_body'});">{$WAR.TITLE}</button></li>
					{/if}
				{/foreach}
			</ul>
		</li>*}
		<li><div>Einstellungen</div>
			<ul>
				<li><button type="button" onclick="wp.window.open({ 'ID' : 'SET{$D.SESSION.ACCOUNT_ID}', 'TITLE' : 'Einstellungen' , 'WIDTH' : '800px', 'HEIGHT' : '600px', 'URL' : '?D[PAGE]=account.setting&D[ACCOUNT_ID]={$D.SESSION.ACCOUNT_ID}'});">Einstellungen</button></li>
			</ul>
		</li>
	</ul>
	<ul class=" h">
		{*
		<li><div>Timer</div>
			<ul>
				<li><div>X| Timer xy | 3:25 II I></div></li>
			</ul>
		</li>*}
		<li><div>{$D.SESSION.USER.FNAME}</div>
			<ul>
				<li>
					<div onclick="window.open('?D[PAGE]=login&D[ACTION]=logout','_self');set_active();">Logout</div>
				</li>
			</ul>
		</li>
	</ul>
	<div style="clear:both;"></div>
</div>
{*<div id="frame_body"></div>*}
</td>
</tr>
<tr>
	<td id="frame_body" valign="top"></td>
</tr>
</table>
{*
	<style>
	.tabindex.b { float:left;position:absolute;top:150px;}
	.tabindex.b ul		{ margin:0;padding:0;list-style:none;}
	.tabindex.b li		{ background:#ddd; position:relative;z-index:99; border-radius:20px 0 0 20px; height:100px;width:24px;margin:-10px 0; border:solid 2px #999; overflow:hidden;}
	
	.tabindex.b li:hover	{ background:#eee;}
	.tabindex.b li.active	{ border-right:solid 2px #fff;background:#fff; z-index:100;}
	.tabindex.b li div { transform:rotate(270deg);position:relative; bottom:-75px;}
	.tabindex.b li div button:hover,
	.tabindex.b li div button	{ height:24px;width:100px; border:none; background:transparent; box-shadow:none;}

	
	</style>
	<div class="tabindex b" style="">
		<ul>
			{foreach from=$D.PLATFORM.D key="kPLA" item="PLA"}
				{if $PLA.ACTIVE}
					<li><div><button type="button" onclick="wp.ajax({ 'url' : '?D[PAGE]=platform&D[PLATFORM_ID]={$kPLA}','div' : 'frame_platform'})">{$PLA.TITLE}</button></div></li>
				{/if}
			{/foreach}
		</ul>
	</div>

		<div style="margin-left:26px;">
			<table style="border:solid 2px #999;border-radius: 5px;background:#fff;height:95%;width:100%;" cellpadding="0" cellspacing="0">
				<tr>
					<td id="frame_platform" valign="top"></td>
				</tr>
				<tr>
					<td id="layer_footer" style="border-top:solid 2px #ddd;height:40px;padding:2px;"></td>
				</tr>
			</table>
		</div>




<link rel="stylesheet" href="view/template/pionier/core/main.css">
<body style="margin:0;padding:0;background:url(view/template/pionier/core/img/bg.jpg) center;">
<style>
.box {
border-radius: 100px;
transition: all 1s ease;
width:200px;height:200px;
}

.box:hover {
border-radius: 200px;
width:300px;height:300px;
font-size:30px;
} 
</style>
	
		
		<table style="width:100%;height:100%;background:transparent;position:absolute;top:0;left:0;">
			<tr>
				<td></td>
			</tr>
			
			<tr>
				<td></td>
				{foreach from=$D.ACCOUNT.D key="kACC" item="ACC"}
				<td onclick="document.forms['f{$kACC}'].submit();" class="box" valign="center" style="cursor:pointer;text-align:center;background: url(view/template/pionier/core/img/bg2.jpg) center;">
					<form name="f{$kACC}" id="f{$kACC}" method="post" style="margin:0;padding:0;">
						<input type="hidden" name="D[PAGE]" value="main">
						<input type="hidden" name="D[ACTION]" value="main">
					<div style="color:#fff;font-size:20px;">
						
						<input type="hidden" name="D[USER][W][ACCOUNT_ID]" value="{$kACC}">
						{$ACC.TITLE}
					</div>
					</form>
				</td>
				{/foreach}
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		
	
</body>
*}