	<table style='height:100%;width:100%;' cellpadding="0" cellspacing="0">
		<tr>
			<td style='height:40px;' valign="top">
				<div class="pla_navi">
				{foreach from=$D.PLATFORM.D key="kPLA" item="PLA"}
					{if $PLA.ACTIVE}
						<button id="btnPLA{$kACC}{$kPLA}" onclick="wp.ajax({
							'url'	:	'?D[PAGE]=platform.start',
							'data'	:	{
											'D[PLATFORM_ID]' : '{$kPLA}'
										},
							'div'	:	'fACC{$kACC}'
							})"><img src="core/platform/{$PLA.CLASS_ID}/{$D.CLASS[$PLA.CLASS_ID].ICON}">{$PLA.TITLE}</button>
					{/if}
				{/foreach}
					<button id="btnPLA{$kACC}" 
					onclick="wp.window.open({ 'ID' : 'PLATFORM{$kACC}', 'TITLE' : 'Platform' , 'WIDTH' : '800px', 'HEIGHT' : '600px', 
					'URL' : '?D[PAGE]=account.platform&D[ACCOUNT_ID]={$kACC}&D[PLATFORM_ID]={$kPLA}'});">+</button>
				</div>
			</td>
		</tr>
		<tr>
			<td valign=top id='fACC{$kACC}'>
			
				
				{*MESSAGE START ================*}
					Chat Multicast
					<div style="height:500px;width:400px;border:solid 4px #ddd; margin:5px;" id="fmessage{$D.SESSION.ACCOUNT_ID}{$D.PLATFORM_ID}{$kINV}"></div>
				
						<script>
							wp.ajax({
												'url'	:	'?D[PAGE]=message',
												'data'	:	{
																//'D[ACCOUNT_ID]' : '{$D.SESSION.ACCOUNT_ID}',
																'D[PLATFORM_ID]' : '{$D.PLATFORM_ID}',
																'D[MESSAGE][W][GROUP_ID]' : '{$kACC}', //group_id,
																'D[MESSAGE][O][DATETIME]' : 'DESC',
																'D[MESSAGE][W][INTERNALLY]' : '1'
															},
												'div'	:	'fmessage{$D.SESSION.ACCOUNT_ID}{$D.PLATFORM_ID}{$kINV}'
												});
						</script>
				{*MESSAGE END ================*}
			</td>
		</tr>
		<tr>
			<td style='height:50px;'></td>
		</tr>
	</table>
		

		
<script>
//Setze Platform Button Aktive & inactive
$(".pla_navi button").click(function() {
      $('button').removeClass('active');
      $(this).addClass('active');
});
</script>