{assign var="PLA" value=$D.PLATFORM.D[$D.PLATFORM_ID]}
{switch $D.ACTION}
	{case 'set_customer'}
	{/case}
	{default}
	<form method="post">
		<table class="table">
			<tr>
				<td>Kundennummer:</td>
				<td>1</td>
			</tr>
		</table>


		Angebote | Rechnungen | Stornorechnung | Pakete | Returen
	</form>
{/switch}