<div id="message{$D.SESSION.ACCOUNT_ID}"></div>
<script>
wp.ajax({
										'url'	:	'?D[PAGE]=support.message',
										'data'	:	{
														'D[ACCOUNT_ID]' : '{$D.SESSION.ACCOUNT_ID}'
														//'D[PLATFORM_ID]' : '{$D.PLATFORM_ID}'
														//'D[CATEGORIE][W][PARENT_ID]' : '',
														//'D[ACTION]' : 'get_categorie'
														//,'D[PLATFORM][D][{$D.PLATFORM_ID}][ACTIVE]' : '1'
													},
										'div'	:	'message{$D.SESSION.ACCOUNT_ID}'
										})
</script>