
<form id="formr{$D.SESSION.ACCOUNT_ID}" method="post">
			<table class="list">
				<thead>
					<tr>
						<td>ID</td>
						<td>TITLE</td>
						{foreach from=$D.PLATFORM.D key="kPLA" item="PLA"}
							<td>{$PLA.TITLE}</td>
						{/foreach}
					</tr>
				</thead>
				<tbody>
					{foreach from=$D.RIGHT.D key="kRIG" item="RIG"}
					<tr>
						<td>{$kRIG}</td>
						<td>{$RIG.TITLE}</td>
						{foreach from=$D.PLATFORM.D key="kPLA" item="PLA"}
							<td style="text-align:center;">
							<input type="hidden" id="D[USER][D][{$D.RIGHT.W.USER_ID}][ACCOUNT][D][{$D.SESSION.ACCOUNT_ID}][PLATFORM][D][{$kPLA}][RIGHT][D][{$kRIG}][ACTIVE]" name="D[USER][D][{$D.RIGHT.W.USER_ID}][ACCOUNT][D][{$D.SESSION.ACCOUNT_ID}][PLATFORM][D][{$kPLA}][RIGHT][D][{$kRIG}][ACTIVE]" value="{if $D.USER.D[ $D.RIGHT.W.USER_ID ].ACCOUNT.D[ $D.SESSION.ACCOUNT_ID ].PLATFORM.D[ $kPLA ].RIGHT.D[ $kRIG ]}1{else}-2{/if}">
							<input type="checkbox" onclick="document.getElementById('D[USER][D][{$D.RIGHT.W.USER_ID}][ACCOUNT][D][{$D.SESSION.ACCOUNT_ID}][PLATFORM][D][{$kPLA}][RIGHT][D][{$kRIG}][ACTIVE]').value = (this.checked)?'1':'-2';" {if $D.USER.D[ $D.RIGHT.W.USER_ID ].ACCOUNT.D[ $D.SESSION.ACCOUNT_ID ].PLATFORM.D[ $kPLA ].RIGHT.D[ $kRIG ]}checked{/if}></td>
						{/foreach}
					</tr>
					{/foreach}
				</tbody>
			</table>
</form>

<script>
 SAVEUSERIGHT{$D.SESSION.ACCOUNT_ID} = function()
			{
				
				wp.ajax({
				'url' : '?D[PAGE]=user.right&D[ACTION]=set_user&D[ACCOUNT_ID]={$D.SESSION.ACCOUNT_ID}',
				'div' : 'ajax',
				'data': $('#formr{$D.SESSION.ACCOUNT_ID}').serialize()
				});
			
			}
</script>