<Message>
	<MessageID>{$D.FEED.INDEX}</MessageID>
	<OrderFulfillment>
		<AmazonOrderID>{$D.FEED.ORDER.ID}</AmazonOrderID>
		<FulfillmentDate>{$D.FEED.ORDER.SHIPPED_DATE}T01:01:01</FulfillmentDate>
		<FulfillmentData>
			<CarrierCode>DHL</CarrierCode>
			<ShipperTrackingNumber><![CDATA[{$D.FEED.ORDER.TRACKING_NO}]]></ShipperTrackingNumber>
		</FulfillmentData>
	</OrderFulfillment>
</Message>