	
<table style="height:100%;width:100%;" cellpadding="0" cellspacing="0">
	<tr>
		<td style="height:10px;" valign="top">
			<div class="topbar">
				<ul class="l h">
					
					<li><div>Accounts</div>
						<ul>
							<li>
								<div onclick=" wp.ajax({ 'div' : 'frame_body', 'url' : '?D[PAGE]=admin.account.list' });">Account Liste</div>
							</li>
						</ul>
					</li>
					{*
					<li><div>Einstellungen</div>
						<ul>
							<li><button type="button" onclick="wp.window.open({ 'ID' : 'SET{$D.SESSION.ACCOUNT_ID}', 'TITLE' : 'Einstellungen' , 'WIDTH' : '800px', 'HEIGHT' : '600px', 'URL' : '?D[PAGE]=account.setting&D[ACCOUNT_ID]={$D.SESSION.ACCOUNT_ID}'});">Einstellungen</button></li>
						</ul>
					</li>
					*}
				</ul>
				<ul class=" h">
					<li><div>{$D.SESSION.USER.NICKNAME}</div>
						<ul>
							<li>
								<div onclick="window.open('?D[PAGE]=login&D[ACTION]=logout','_self');">Logout</div>
							</li>
						</ul>
					</li>
				</ul>
				<div style="clear:both;"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td id="frame_body" valign="top"></td>
	</tr>
</table>
